.Button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  cursor: pointer;
  box-shadow: 0;
  color: darkgray;
}

@media only screen and (max-device-width: 380px) {
	.Button {
    width: 30px;
    height: 30px;
	}
}